@model BjornsRadioExcelExport.Models.Song

@{
    ViewData["Title"] = "Song details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlbumOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumNavigation)
        </dt>
        <dd class = "col-sm-10">
            <a asp-action="Details" asp-controller="Albums" asp-route-id="@Model.Album">
                @Html.DisplayFor(model => model.AlbumNavigation.Artist) -
                @Html.DisplayFor(model => model.AlbumNavigation.Title)
            </a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
