@model IEnumerable<BjornsRadioExcelExport.Models.Song>

@{
    ViewData["Title"] = "Songs";
}
<div class="float-end">
    <a asp-action="Create" class="btn btn-success">Create New</a>
</div>

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AlbumNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlbumOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AlbumNavigation.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlbumOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                @* <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td> *@
                <td style="width: 120px">
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm" title="Details"><i class="bi bi-info-circle"></i></a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm" title="Edit"><i class="bi bi-pen"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" title="Delete"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
